<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="#">MotoVenture</a>
    <ul>
        <li>
            <a href="#">Se balader</a>
        </li>
        <li>
            <a href="#">Créer/organiser</a>
        </li>
        <li>
            <a href="#">Contactez-nous</a>
        </li>
    </ul>
    <a href="#">login</a>
    <img src="" alt="">
</body>
</html>