    .spots__container{
      height: 90vh;
    }
    .spots__grid{
      height: 100%;
    }
    
    .spots__map{
      height:max-content;
      position: relative;
    }
    .spots__form{
      
      padding: 10px;
      z-index: 10;
      position: absolute;
    }

    .map{
      height: 100%;
    }

   .spots__container{
    display: flex;
    justify-content: center;
     
   }
     .spots__map {
       position: relative;
       margin-top: 50px;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       width: 100%;
       height: 100%;
       height: 75vh;
     }
     
      
   
    
