@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.AboutUS{
    margin: 3rem;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    
}

.AboutUs__text{
    margin:  6rem 0;
    text-align: center;
    display: flex;
    flex-direction:column ;
    
    gap: 5rem ;
    font-size: 1.6rem;
}

