@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.pictures{
    width: 100%;
    height: 33rem;
    
}
.bestof{
    background-color: #000000;
    height: 110vh;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 5vh, 100% 0 , 100% 105vh , 0 100%);
}

.bestof__container{
    display: flex;
    justify-content: center;
     transition: all 0.3s;
     /* gap: 30px; */
     
     
}
.bestof__grid{
    display: flex;
    justify-content: center;
    transition: all 0.3s;
    width: 100%;
   

 
}
.bestof__card{
    box-shadow: rgb(255, 255, 255) ;

}
.bestof__grid:hover{
    scale: 1.1;
   
}
.bestof__title{
    color: white;
    
        text-align: center;
      
       
        font-size: 3rem;
    }
    

    .bestof__typography{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;
        border-bottom: .1rem solid  black;
     
    }
    
    .bestof__parametres{
        display: flex;
        align-items: center;
        gap: .3rem;
    }
    .bestof__profile{
        padding: 0  1rem !important;
    }