.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero-wrapper{
  background-color: black;
  color: white;
  position: absolute;
  padding-bottom: 3.2rem;
   clip-path: polygon(0 0, 100% 0 , 100% 100vh , 0 100%);
}

.hero-container{
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  
}
/*left side*/
.hero-left{
  gap: 4.8rem;
}

.hero-title{
  position: relative;
  z-index: 1;
}

.hero-title>h1{
  font-weight: 800;
  font-size: 9rem;
  line-height: 9rem;
  color: black;
  font-family: 'New York', sans-serif;
}

.hero-des>h1{
  color: black;
  font-family: 'New York', sans-serif;
}

.orange-circle{
  height: 6.4rem;
  width: 6.4rem;
  background-color: #000000;
  background-image: linear-gradient(180deg, #000000 1%, #caaacd 100%);
  border-radius: 50%;
  position: absolute;
  right: 28%;
  top: -10%;
  z-index: -1;
}
/* right side*/
.image-container{
  width: 48rem;
  height: 56rem;
  overflow: hidden;
}


