*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.menuu{
    display: block;
    background: linear-gradient(rgba(0 ,0 ,0 ,0.4),rgba(0 ,0 , 0 , 0.4)) ,url(https://cdn.pixabay.com/photo/2016/11/22/19/33/conifers-1850227_1280.jpg) ;
    width: 100%;
    height: 110vh;
    clip-path: polygon(0 0, 100% 0 ,100% 100vh , 0 100%);

    
  }
.BeginMenu{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    translate: 0 90px;
}
.BeginButtons{
  display: flex;
  gap: 50px;
}
.btn{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.Middletext{
  width: 60%;
}
