
.about-img {
    padding: 10rem 6rem;
    display: flex;
    align-items: center;
}
.about-img_box{
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
      transition: all 0.3s;
}
.about-img_box:hover {
      
        scale: 1.1;
        z-index: 60;
      }
    
.about-img__image {
      width: 130%;
      position: relative;
      border-radius: inherit;
      align-items: center;
      object-fit: cover;
}

.about-img_image--1 {
        translate: 14rem 5rem;
        z-index: 20;
        border-radius: 10%;
      }
.about-img_image--2 {
        translate: 16rem 0;
        z-index: 40;
        border-radius: 10%;
      }
.about-img_image--3 {
        translate: -20rem -5rem;
        z-index: 10;
        border-radius: 10%;
  }